header {
    font-size: 1rem;
    @media(max-width: 1200px) {
        font-size: .9rem;
    }
    @media(max-width: 992px) {
        font-size: .8rem;
    }
}
header .container {
    height: 100%;
}
.header-menu {
    @media(max-width: 992px) {
        width: 100%;
    }
    @media(max-width: 768px) {
        display: none;
    }
    width: 75.09788566953798%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 56em;
    padding-bottom: 81em;
    & > ul > li {
        display: inline-block;
        vertical-align: top;
    }
    &__drop-item {
        width: 150em;
    }
    ul {
        @media(max-width: 992px) {
            text-align: left;
        }
        text-align: right;
        li {
            position: relative;
            text-align: left;
            margin: 0 40em;
            &:hover > ul {
                max-height: 200px;
            }
            a {
                position: relative;
                color: #fff;
                font-size: 17em;
                line-height: 1.171176470588235;
                text-decoration: none;
                &:hover, &:hover svg path {
                    color: $hover-color;
                }
                &:hover svg path {
                    fill: $hover-color;
                    stroke: $hover-color;
                }
            }
            &:hover .drop-icon-svg svg {
                transform: rotate(180deg);
            }
            & > ul {
                max-height: 0;
                position: relative;
                top: 25px;
                overflow: hidden;
                transition: max-height .3s ease-out;
                text-align: left;
                min-width: 200px;
                & li {
                    margin: 0 0 10em 0;
                }
            }
        }
    }
}
.drop-icon-svg {
    display: inline-block;
    margin-left: 10px;
    width: 11px;
    height: 6px;
    & svg {
        transform: rotate(0deg);
        transition: transform .3s ease-out;
    }
}
.drop-icon-path {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 0.5;
    stroke-miterlimit: 10;   
}

.menu-mobile {
    @media(max-width: 768px) {
        display: block;
    }
    display: none;
    width: 100%;
    font-size: 1rem;
    &__toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 65px;
        position: relative;
        padding: 0 20px;
        & i {
            display: block;
            width: 33px;
            height: 2px;
            margin-bottom: 5px;
            background: #fff;
        }
    }
    &__nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease-out;
        & ul li {
            & a {
                display: block;
                color: #fff;
                font-size: 16em;
                text-decoration: none;
                padding: 20px;
                border-bottom: 1px solid #191919; 
            }
            & > ul li a {
                padding-left: 40px;
            }
        }
    }
    &.opened &__nav {
        max-height: 1000px;
    }
}