.slider-section {
    font-size: 1rem;
    @media(max-width: 1200px) {
        font-size: .9rem;
    }
    @media(max-width: 992px) {
        font-size: .7rem;
    }
    @media(max-width: 768px) {
        font-size: .7rem;
    }
    @media(max-width: 576px) {
        font-size: 0.5909090909090909rem;
    }
}
.slider {
    position: relative;
    padding-bottom: 80em;
    width: 100%;
    &__elements {
        width: 100%;
    }
    &__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        float: left;
    }
    &__image {
        width: 59.51448707909162%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 36.02192638997651%;
        @media(max-width:768px) {
            width: 100%;
            padding-bottom: 60.625%;
        }
        &--1 {
            background-image: url('../images/slider-1.jpg')
        }
        &--2 {
            background-image: url('../images/slider-2.jpg')
        }
        &--3 {
            background-image: url('../images/slider-3.jpg')
        }
        &--4 {
            background-image: url('../images/slider-4.jpg')
        }
    }
    &__description {
        width: 40.48551292090838%;
        padding-left: 83em;
        padding-top: 121em;
        &-title {
            font-size: 22em;
            line-height: 1.272727272727273;
            margin-bottom: 0.9090909090909091em;
        }
        &-name {
            font-size: 65.59em;
            line-height: 0.9138588199420643;
        }
        @media(max-width:768px) {
            width: 100%;
        }
        @media(max-width:576px) {
            padding-left: 43em;
            padding-top: 51em;
        } 
    }
    &__track-outer {
        width: 100%;
        overflow: hidden;
    }
    &__track {
        transform: translate3d(0, 0, 0);
        transition: transform .5s ease;
    }
}
.pagenation {
    @media(max-width: 1307px){
        text-align: center;
    }
    font-size: 22em;
    padding-top: 0.9090909090909091em;
    line-height: 1.272727272727273;
    -webkit-user-select: none;
    -moz-user-select: none;
    @media(max-width: 768px) {
        font-size: 0
    }
    & span {
        display: inline-block;
        vertical-align: middle;
    }
    &__arrow-path {
        fill: #fff;
    }
    &__prev, &__next {
        width: 12px;
        height: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        cursor: pointer;
        &:hover .pagenation__arrow-path {
            fill: $hover-color;
        }
        @media(max-width: 768px) {
            position: absolute;
            top: 0;
            padding-top: 30%;
        }
    }
    &__prev {
        margin-right: 1.227272727272727em;
        @media(max-width: 768px) {
            left: 16px;
        }
    }
    &__next {
        margin-left: 1.227272727272727em;
        @media(max-width: 768px) {
            right: 16px;
        }
    }
}