.slider-section {
    font-size: 1rem;
    @media(max-width: 1200px) {
        font-size: .9rem;
    }
    @media(max-width: 992px) {
        font-size: .8rem;
    }
    @media(max-width: 820px) {
        font-size: .7rem;
    }
}
.slider {
    padding-bottom: 80em;
    width: 100%;
    &__elements {}
    &__item {
        display: flex;
    }
    &__image {
        width: 59.51448707909162%;
        & img {
            max-width: 100%;
            height: auto;
        }
    }
    &__description {
        width: 40.48551292090838%;
        padding-left: 83em;
        padding-top: 121em;
        &-title {
            font-size: 22em;
            line-height: 1.272727272727273;
            margin-bottom: 0.9090909090909091em;
        }
        &-name {
            font-size: 65.59em;
            line-height: 0.9138588199420643;
        }
    }
}
.pagenation {
    @media(max-width: 1307px){
        text-align: center;
    }
    font-size: 22em;
    padding-top: 0.9090909090909091em;
    line-height: 1.272727272727273;
    & span {
        display: inline-block;
    }
    &__arrow-path {
        fill: #fff;
    }
    &__prev, &__next {
        width: 10px;
        cursor: pointer;
        &:hover .pagenation__arrow-path {
            fill: $hover-color;
        }
    }
    &__prev {
        margin-right: 1.227272727272727em;
    }
    &__next {
        margin-left: 1.227272727272727em;
    }
}